
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #333;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

a {
    text-decoration: none;
    color: beige;
}

a:hover {
    color: #666;
}


.logo:hover {
    color: beige;
}
