
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background-color: #f0f2f5;
}

.login-form{
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
